
.screenshot-box{
    width: 20rem;
    height: 10rem;
    margin-right:2rem;
}

.screenshot-box img{
    width:100%;
    height:100%;
}

.skill-tabs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    text-wrap: nowrap;
}

.skill-tabs p{
    font-family:'Roboto', sans-serif;
    font-size:small;
    word-wrap:none;
    overflow-wrap: anywhere; 
    margin-right:1.2rem;
    height:1.5rem;
    padding:0.25rem;
    border-radius: 0.5rem;
    color:white;
    background: rgb(134, 126, 121);
}

.project-link{
    color:rgb(224, 211, 207);
    filter: drop-shadow(0 0 2px #ffae00);
    text-decoration: none;
}

.project-link:hover{
    color: rgb(215, 185, 162);
    filter:none;

}